In [4]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline

In [5]:
data = pd.read_csv("pbp-2019.csv")
data.head()

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2019112400,2019-11-24,2,0,44,TB,ATL,2,1,99,...,0,0,NaN,1,OPP,0,NaN,0,NaN,0
1,2019112400,2019-11-24,2,7,55,TB,ATL,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
2,2019111100,2019-11-11,1,2,3,SF,SEA,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
3,2019112100,2019-11-21,4,0,5,HOU,IND,4,3,65,...,0,0,NaN,35,OPP,0,NaN,0,NaN,0
4,2019112100,2019-11-21,4,0,50,HOU,IND,3,3,65,...,0,0,CENTER,35,OPP,0,NaN,0,NaN,0

In [6]:
four_data = data.loc[data['Down'] == 4]

In [7]:
four_data.head()

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
3,2019112100,2019-11-21,4,0,5,HOU,IND,4,3,65,...,0,0,NaN,35,OPP,0,NaN,0,NaN,0
37,2019110700,2019-11-07,2,2,0,OAK,LAC,4,1,60,...,0,0,CENTER,40,OPP,0,NaN,0,NaN,0
52,2019111704,2019-11-17,4,0,47,MIA,BUF,4,4,69,...,0,0,NaN,31,OPP,0,NaN,0,NaN,0
57,2019111701,2019-11-17,1,11,39,ATL,CAR,4,4,80,...,0,0,NaN,20,OPP,0,NaN,0,NaN,0
59,2019111400,2019-11-14,4,13,29,PIT,CLE,4,1,68,...,0,0,NaN,32,OPP,0,NaN,0,NaN,0

In [8]:
four_data.describe()

,GameId,Quarter,Minute,Second,Down,ToGo,YardLine,Unnamed: 10,SeriesFirstDown,Unnamed: 12,...,IsMeasurement,IsInterception,IsFumble,IsPenalty,IsTwoPointConversion,IsTwoPointConversionSuccessful,YardLineFixed,IsPenaltyAccepted,IsNoPlay,PenaltyYards
count,2.673000e+03,2673.000000,2673.000000,2673.000000,2673.0,2673.000000,2673.000000,0.0,2673.000000,0.0,...,2673.0,2673.000000,2673.000000,2673.000000,2673.0,2673.0,2673.000000,2673.000000,2673.000000,2673.000000
mean,2.019101e+09,2.601945,6.264123,29.057239,4.0,8.265993,49.986532,NaN,0.068462,NaN,...,0.0,0.005612,0.010101,0.134306,0.0,0.0,28.704826,0.116349,0.053124,0.893752
std,8.062873e+03,1.129104,4.380889,17.627468,0.0,5.943216,24.958975,NaN,0.252585,NaN,...,0.0,0.074715,0.100014,0.341045,0.0,0.0,13.011397,0.320703,0.224322,2.832779
min,2.019090e+09,1.000000,0.000000,0.000000,4.0,1.000000,1.000000,NaN,0.000000,NaN,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,0.000000
25%,2.019092e+09,2.000000,2.000000,14.000000,4.0,4.000000,30.000000,NaN,0.000000,NaN,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,20.000000,0.000000,0.000000,0.000000
50%,2.019101e+09,3.000000,6.000000,29.000000,4.0,7.000000,46.000000,NaN,0.000000,NaN,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,30.000000,0.000000,0.000000,0.000000
75%,2.019111e+09,4.000000,10.000000,44.000000,4.0,11.000000,71.000000,NaN,0.000000,NaN,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,40.000000,0.000000,0.000000,0.000000
max,2.019112e+09,5.000000,15.000000,59.000000,4.0,35.000000,99.000000,NaN,1.000000,NaN,...,0.0,1.000000,1.000000,1.000000,0.0,0.0,50.000000,1.000000,1.000000,27.000000

In [9]:
four_data()

TypeError: 'DataFrame' object is not callable

In [10]:
four_data

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
3,2019112100,2019-11-21,4,0,5,HOU,IND,4,3,65,...,0,0,NaN,35,OPP,0,NaN,0,NaN,0
37,2019110700,2019-11-07,2,2,0,OAK,LAC,4,1,60,...,0,0,CENTER,40,OPP,0,NaN,0,NaN,0
52,2019111704,2019-11-17,4,0,47,MIA,BUF,4,4,69,...,0,0,NaN,31,OPP,0,NaN,0,NaN,0
57,2019111701,2019-11-17,1,11,39,ATL,CAR,4,4,80,...,0,0,NaN,20,OPP,0,NaN,0,NaN,0
59,2019111400,2019-11-14,4,13,29,PIT,CLE,4,1,68,...,0,0,NaN,32,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31311,2019090500,2019-09-05,4,1,45,GB,CHI,4,3,27,...,0,0,NaN,27,OWN,1,CHI,0,OFFENSIVE HOLDING,10
31320,2019090500,2019-09-05,4,5,20,GB,CHI,4,2,79,...,0,0,NaN,21,OPP,0,NaN,0,NaN,0
31341,2019090801,2019-09-08,3,6,13,TEN,CLE,4,4,12,...,0,0,NaN,12,OWN,1,TEN,1,DELAY OF GAME,5
31343,2019090801,2019-09-08,3,8,29,CLE,TEN,4,7,55,...,0,0,NaN,45,OPP,0,NaN,0,NaN,0
31351,2019090800,2019-09-08,2,1,7,LA,CAR,4,6,62,...,0,0,NaN,38,OPP,0,NaN,0,NaN,0

In [11]:
column_list = []
for column in four_data.columns:
    column_list.append(column)
    
column_list

['GameId',
 'GameDate',
 'Quarter',
 'Minute',
 'Second',
 'OffenseTeam',
 'DefenseTeam',
 'Down',
 'ToGo',
 'YardLine',
 'Unnamed: 10',
 'SeriesFirstDown',
 'Unnamed: 12',
 'NextScore',
 'Description',
 'TeamWin',
 'Unnamed: 16',
 'Unnamed: 17',
 'SeasonYear',
 'Yards',
 'Formation',
 'PlayType',
 'IsRush',
 'IsPass',
 'IsIncomplete',
 'IsTouchdown',
 'PassType',
 'IsSack',
 'IsChallenge',
 'IsChallengeReversed',
 'Challenger',
 'IsMeasurement',
 'IsInterception',
 'IsFumble',
 'IsPenalty',
 'IsTwoPointConversion',
 'IsTwoPointConversionSuccessful',
 'RushDirection',
 'YardLineFixed',
 'YardLineDirection',
 'IsPenaltyAccepted',
 'PenaltyTeam',
 'IsNoPlay',
 'PenaltyType',
 'PenaltyYards']

In [ ]:
droplist = ["GameId","GameDate","Quarter","Minute","Second","Unnamed","SeriesFir"]